<div class="container">
    <div class="about-section">
        <div class="center">
            <div class="name-role">
                <h1 class="top-marin role"> Hey,</h1>
                <h1 class="top-marin role"> Me bhimi reddy someshwar reddy</h1>
                <p class="top-marin text">I am a front-end web developer with a few years of work experience in web design and development. I am also interested in teaching web technologies and I am always curious to learn more.</p>
                <h2 class="skills-heading">Skills</h2>
                <div class="skills-strip">
                    <span class="skills-strip-items">html</span>
                    <span class="skills-strip-items">css</span>
                    <span class="skills-strip-items">javascript</span>
                    <span class="skills-strip-items">angular</span>
                    <span class="skills-strip-items">github</span>
                </div>
            </div>

        </div>
        <div class="skills-strip">
            <a routerLink="/projects" class="project-link">projects</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>