.center {
    display: flex;
    justify-content: center;

   
}

.name-role {
    // color: #6c757d;
    color: #023047;
    font-family: 'Pacifico', cursive;
    display: flex;
    width: 52%;
    flex-direction: column;
    text-indent: 5em;
    border: 0.5rem outset rgb(255, 192, 203) ;
    outline: 0.5rem solid #f4a261;
    box-shadow: 0 0 0 1.8rem #2a9d8f;
    border-radius: 12px;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin-top: 3rem;
}

.name {
    font-family: 'Pacifico', cursive;
    // font-family: 'Kablammo', cursive;
    // color: #e76f51;
    font-size: 3rem;
}

.top-marin {
    margin-top: 0.5rem;
}

 .role {
    font-size: 1.5rem;
}
.text {
    font-size: 1rem;
    text-transform: uppercase;
}