<div class="container">
    <div class="about-section">
        <div class="center">
            <div class="name-role">
                <h1 class="top-marin role"> Hey,</h1>
                <h1 class="top-marin role"> My name is bhimi reddy someshwar reddy</h1>
                <p class="top-marin text">I’m front-end web developer from
                    india. I’m also intrest in teaching web technologies and I’m always curious to learn more when it
                    comes to new technologies.</p>
                <h2 class="skills-heading">Skills</h2>
                <div class="skills-strip">
                    <span class="skills-strip-items">html</span>
                    <span class="skills-strip-items">css</span>
                    <span class="skills-strip-items">javascript</span>
                    <span class="skills-strip-items">angular</span>
                    <span class="skills-strip-items">github</span>
                </div>
            </div>

        </div>

    </div>
</div>

<router-outlet></router-outlet>