<div class="container">
    <div class="about-section">
        <div class="center">
            <div class="name-role">
                <h1 class="top-marin role"> Hey,</h1>
                <h1 class=" role"> Me bhimi reddy someshwar reddy</h1>

                <p class="top-marin text">As a skilled front-end web developer with several years of experience in web
                    design and development, I specialize in creating dynamic, user-centric websites and applications. My
                    expertise spans a range of core web technologies, including Html, Css, JavaScript, and Angular,
                    allowing me to deliver responsive, high-performance solutions tailored to client needs.</p>
                <p class="top-marin text">
                    I am proficient in utilizing modern development tools and frameworks, with a particular focus on
                    responsive web design principles to ensure seamless user experiences across all devices and screen
                    sizes. Additionally, I leverage Git and GitHub for version control, collaborating efficiently with
                    teams and maintaining best practices in code management.
                </p>
                <p class="top-marin text">
                    With a strong passion for continuous learning and staying up-to-date with the latest trends in web
                    development, I am also dedicated to sharing my knowledge by teaching web technologies to others. My
                    goal is to inspire and mentor the next generation of developers while constantly evolving my skill
                    set to stay ahead in an ever-changing field.
                </p>
                <li class="list-items"><span>My </span><a routerLink="/projects" class="nav-link">Projects</a></li> 

                <div class="skills-heading contact">

                    <span> To learn and work with me these skills</span>
                  
                </div>
                <!-- <h2 class="skills-heading">Skills i teach and work</h2> -->
                <div class="skills-strip skills-heading">
                    <span class="skills-strip-items">Python</span>
                    <span class="skills-strip-items">html</span>
                    <span class="skills-strip-items">css</span>
                    <span class="skills-strip-items">javascript</span>
                    <span class="skills-strip-items">Angular</span>
                    <span class="skills-strip-items">github</span>
                    <span class="skills-strip-items">responsive web design</span>
                </div>
                <div class="skills-heading contact">
                    <span>Call me: &nbsp;</span>
                    <h2>7207895836</h2>
                </div>

            </div>

        </div>
        <div class="skills-strip skills-links">
            <a routerLink="/projects" class="project-link">projects</a>
            <a class="project-link" (click)="downloadFile()">Resume<i
                    class="fa-regular fa-file-pdf icon-github"></i></a>
            <a href="https://github.com/someshwarreddy" target="_blank" class="project-link">github<i
                    class="fa-brands fa-github icon-github"></i></a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>