<div class="container">
    <li class="list-items list-items-one"><a routerLink="/about" class="nav-link">About</a></li>

    <div class="project-list">

        <div class="card" *ngFor="let project of projects">
            <div class="project-image">
                <img src="{{project?.image}}" alt="project image">
            </div>
            <div class="project-content">
                <h3>Title: &nbsp;{{project?.title}}</h3>
                <p>
                  Program Languages: {{project?.pl}}
                </p>
                <p>
                    Summary :{{project?.pl}}
                </p>
                <p>
                  URL: <a href={{project.URL}} target="_blank" rel="noopener noreferrer">{{project.URL}}</a>
                </p>
            </div>
        </div>
    </div>
</div>