.project-details-table {
    width: 100%;
    height: calc(100vh - 200px);
    border-radius: 5px;
    border: 1px solid rgba(160, 153, 153, 0.12);
    box-shadow: 0 3px 3px rgba(160, 153, 153, 0.12), 0 1px 2px rgba(171, 165, 165, 0.24);
    margin-bottom: 2rem;
    background-color: #fff;
    color: rgb(31, 29, 29);
    text-align: left;
}

th,
td {
    border-bottom: 1px solid rgba(160, 153, 153, 0.12);
    padding: 1rem;
   
}

th {
    width: 30%;
    border-right: 1px solid rgba(160, 153, 153, 0.12);
    text-transform: capitalize;
}

.list-items-one {
    justify-content: center;
}