

.navbar {
  display: flex;
  line-height: 1;
  padding: 1rem 0;
  justify-content: center;
}

.nav-items {
  display: flex;
  // margin-left: auto;
  justify-content: center;
  flex-basis: auto;
  // flex-wrap: wrap;
}

.nav-items .list-items {
  margin-right: 2rem;
  list-style: none;
}

.nav-items .list-items .nav-link {
  // font-family: 'Pacifico', cursive;
  font-family: 'Kablammo', cursive;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  // color: #023047;
  color: #e76f51;
  font-size: 1.5rem;
  // font-weight: 900;
}

.nav-items .list-items .nav-link:hover {
  color: #023047;
  animation: swing 0.5s 0.2s;
  transform-origin: top center;

}


@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@media(min-width:426px) {
  .nav-items .list-items .nav-link {
    font-size: 4rem;
  }
}