<header class="header gutter">
    <!-- <div class="background-sky hero"></div> -->
    <div class="container">
        <nav class="navbar">
            <!-- list of nav items -->
            <ul class="nav-items">
                <li class="list-items list-items-one"><a routerLink="/about">about</a></li>
                <li class="list-items"><a routerLink="/projects">projects</a></li>
                <li class="list-items"><a routerLink="/blog">blog</a></li>
            </ul>
        </nav>
    </div>
</header>