
.icon-github {
    display: none;
}
@media(min-width:426px) {
    .skills-strip {
        position: sticky;
        width:40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
        padding: 0.3rem;
        background-color: #023047;
        border-radius: 5px;
        color: #f6f2f2;
        bottom: 50%;
        left:2%;
    }
    .skills-strip-items,
    .project-link {
        text-align: center;
        text-transform: capitalize;
        margin: 0.5rem;
        color: #f6f2f2;
        text-decoration: none;
        cursor: pointer;

    }
    .icon-github {
        display: block;
    }
}

