.center {
    display: flex;
    justify-content: center;
    transform: translateY(40%);
}

.name-role {
    color: #023047;
    text-transform: capitalize;
}

.name {
    font-family: 'Pacifico', cursive;
    // font-family: 'Kablammo', cursive;
    // color: #e76f51;
    font-size: 3rem;
}

.top-marin {
    margin-top: 0.5rem;
}

.self-font-size{
    font-size: 1.5rem;
}