<div class="country-list">
    <div class="card" routerLink="css">
        <svg viewBox="0 0 900 300">
            <symbol id="css-text">
                <text text-anchor="middle" x="50%" y="50%">CSS</text>
            </symbol>
            <g >
                <use xlink:href="#css-text" class="text-use"></use>
                <use xlink:href="#css-text" class="text-use"></use>
                <use xlink:href="#css-text" class="text-use"></use>
                <use xlink:href="#css-text" class="text-use"></use>
                <use xlink:href="#css-text" class="text-use"></use>
            </g>
        </svg>
    </div>
    <div class="card" routerLink="angular">
        <svg viewBox="0 0 900 300">
            <symbol id="angular-text">
                <text text-anchor="middle" x="50%" y="50%">ANGULAR</text>
            </symbol>
            <g >
                <use xlink:href="#angular-text" class="text-use"></use>
                <use xlink:href="#angular-text" class="text-use"></use>
                <use xlink:href="#angular-text" class="text-use"></use>
                <use xlink:href="#angular-text" class="text-use"></use>
                <use xlink:href="#angular-text" class="text-use"></use>
            </g>
        </svg>
    </div>
    <div class="card" routerLink="javascript">
        <svg viewBox="0 0 960 300">
            <symbol id="javascript-text">
                <text text-anchor="middle"  x="51%" y="50%">JAVASCRIPT</text>
            </symbol>
            <g >
                <use xlink:href="#javascript-text" class="text-use"></use>
                <use xlink:href="#javascript-text" class="text-use"></use>
                <use xlink:href="#javascript-text" class="text-use"></use>
                <use xlink:href="#javascript-text" class="text-use"></use>
                <use xlink:href="#javascript-text" class="text-use"></use>
            </g>
        </svg>
    </div>
    
</div>